@{
    ViewData["Title"] = "Events";
}

<div id="pad-wrapper">


    <div class="row">
        <div class="col-md-12">
            <a href="/Event/New" class="btn btn-primary">New</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>Finish Date</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Description
                                </td>
                                <td>
                                    @item.StartDate
                                </td>
                                <td>
                                    @item.FinishDate
                                </td>
                                <td>
                                    <a href="/Event/Edit/@item.Id" class="btn">Edit</a>
                                </td>
                                <td>
                                    <a data-id="@item.Id" class="btn btnDelete">Delete</a>
                                </td>
                            </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
<script>
    $(document).ready(function () {
        $(".btnDelete").click(function () {
            var id = $(this).data("id");
            if (confirm("Delete this event?")) {
                window.location.href = "/Event/Delete/" + id;

            }
        });
    });
    </script>
}